/* Secciones de html */
body{
    background-color: black;
}
header{
    background-color: #f9a416;
}
footer{
    background-color: black;
    color: white;
    bottom: 0;
}
/* / Secciones de html */
/* Imagenes */
footer img{
	margin-left: 30px;
	margin-top: 12px;
}
header img{
    max-height:20vh;
    display: inline-block;
    float: left;
    margin-left: 0px;
}
.contactoindex{
    border-radius: 30%;
}
/* / Imagenes */
/* Enlaces */
a{
    text-decoration: none;
    color: white;
    margin-left: 2vh;
    margin-right: 2vh;
    font-family: "impact";
    letter-spacing: 3px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
}
a:hover{
    color: white;
}
/* / Enlaces */

/* Estilos de letra y parrafos */
.main h1{
	font-size: 70px;
	text-align: center;
	font-family: "Brush Script MT";
}
.main h1:hover{
		color:#F8A616;
}

/* / Estilos de letra y parrafos */
/*  Cards */
#carta { 
    display: flex; 
    flex-direction: column; 
    margin-bottom: 15px;

}
#color_carta{
    background-color: #262626;
    color: #E5E5E5;
}
/* / Cards */

/* Estilos opcionales */
.floatleft{float: left;}
.borde{border-style: solid;}
.borde_rojo{border-style: solid; border-color: red;}
.row{
    /* border-style: solid; */
}
.row div{
    /* border-style: solid;
    border-color:red; */
}